* {
  animation: 3s linear 0.1s;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  padding: 2rem 5rem;
  font-family: 'Inter';
  min-height: 100%;
  background-color: #e7e8e9;

  input {
    text-align: center;
  }

  header {
    img {
      transition: 3s ease-in-out all;
      animation: shake 1.75s;
      animation-iteration-count: infinite;
    }

    @keyframes shake {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform: rotate(4deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}
